= form_for @quickmod, :html => {:class => 'ui form', :data => {:validate_url => url_for(controller: :quickmods, action: :ajax_validate)}}, builder: SemanticFormBuilder do |f|
  - if @quickmod.errors.any?
    #error.ui.message.red
      .header Negative, ghostrider
      %ul.list
        - @quickmod.errors.full_messages.each do |err|
          %li= err

  .field
    = f.text_field :uid, rails: {placeholder: 'UID'}, semantic: {required: true}
  .field
    = f.text_field :name, rails: {placeholder: 'Name'}, semantic: {required: true}
  .field
    = f.text_area :description, rails: {placeholder: 'Description'}
  .actions
    = f.submit class: 'ui green button ok'

