- if @quickmod.errors.any?
  #error
    %h2 That's a negative, ghostrider
    %ul
      - @quickmod.errors.full_messages.each do |err|
        %li= err


= form_for @quickmod do |f|
  %p
    = f.label :uid
    = f.text_field :uid
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :tags
    //= f.text_field :tags
  %p
    = f.label :categories
    //= f.text_field :categories
  %p
    = f.label :description
    = f.text_area :description
  %p= f.submit

