= form_for @quickmod, remote: true, :html => {:class => 'ui form modal'}, builder: SemanticFormBuilder do |f|
  %i.close.icon
  -if @type == :edit
    .header= "Edit #{@quickmod.name}"
  -else
    .header= 'New QuickMod'
  .content
    - if @quickmod.errors.any?
      #error.ui.message.red
        .header Negative, ghostrider
        %ul.list
          - @quickmod.errors.full_messages.each do |err|
            %li= err
    = f.hidden_field :original_uid, value: @quickmod.uid
    = f.two_fields do
      = f.text_field :uid, rails: {placeholder: 'UID'}, semantic: {required: true}
      = f.text_field :name, rails: {placeholder: 'Name'}, semantic: {required: true}
    = f.text_area :description, rails: {placeholder: 'Description'}
  .actions
    = f.field class: 'ui buttons' do
      .ui.button.cancel.black{data: {cancel: true}, class: (@type == :new ? 'close' : '')} Cancel
      .or
      = f.submit class: 'ui green button ok'